@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html, body {
  font-family: 'JetBrains Mono', monospace;
}

@keyframes bar-bounce {
  0%, 100% { transform: scaleY(0.3); }
  50% { transform: scaleY(1); }
}
